## Environment

# EcoDrop v2 — variáveis de ambiente

# banco de dados
DB_USER=postgres
DB_PASSWORD=troque_pela_sua_senha
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecodrop_db

# FrontEnd
PORT=3001

# algoritmo de encriptação
ALGORITHM=HS256

# refrash token
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# ambiente de config
ENVIRONMENT=development
DEBUG=true

# hosts
ALLOWED_ORIGINS=http://localhost:3001,http://127.0.0.1:3001
CORS_ALLOW_ALL=true

# Configuração do servidor
API_HOST=0.0.0.0
API_PORT=8000

# keys
SECRET_KEY=sua-chave-de-seguranca
